.navbar_siswa {
    background: linear-gradient(to left, #89d765, #62c2a3);
    height: 50px;
}

body {
    overflow-x: hidden;
}

.nav-link:first-child {
    /* margin-left: 50px; */
}

.kontainer_navbar_siswa {
    /* margin-bottom: 50px; */
}

.detail_mahasiswa {
    margin: 10px 0px 50px 0px;
    margin-left: 25px;
}

.kontainer_panel_kiri {
    padding-left: 30px;
    /* background-color: #fdfacc; */
}
.kontainer_panel_kanan {
    /* background-color: #92c5e7; */
}

.kontainer_konten {
    height: 100%;
}

/*############################### UNTUK NAVBAR_SISWA ######################### */

.navbar_siswa {
  padding: 0px;
}
.navbar_siswa .container-fluid {
  padding: 0px;
}

.navbar_siswa .nav-item :hover {
  color: rgb(59, 56, 53);
  /* color: rgb(34, 34, 34); */
}

.navbar_siswa .nav-item {
  margin-left: 30px;
}


.navbar_siswa .nav-item {
  width: 100%;
  height: 100%;
}




